.App {
  text-align: center;
}

.header-banner{
  background-image: url(localMedia/ASSEMBLY-BUSINESSCARD.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;

}

.img-cover {
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.img-cover img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
 
}

.gallery {
  padding: 5vw
 
}

.gallery-block{
  display: block;
  justify-content: space-around;
}

.gallery-block-small{
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

}

.img-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden
}
.img-gallery img {
  flex-shrink: 0;
  min-width: 40vw;
  min-height: 48vh;
  margin: 5vw 5vw 2.5vw 5vw;
  float: left;
}

.project-title{
  font-size: 8vw;
  margin: 2vw;
  margin-top: 4vw;
  color: grey
}

.project-info{
 
  color: grey;
  font-style: italic;
  font-size: 1.5vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  line-height: 4vh;
}






