.App {
  text-align: center;
}

.header-banner{
  background-image: url(localMedia/ASSEMBLY-BUSINESSCARD.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;

}

.img-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.img-cover img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}